@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/open-sans-v23-latin_cyrillic-regular.woff2') format('woff2'),
         url('fonts/open-sans-v23-latin_cyrillic-regular.woff') format('woff');
}

body {
    font-family: 'OpenSans-Regular';
    font-size: 14px;
}

div {
    position: relative;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}